<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="main.js"></script>
    <title>Hausübung</title>
</head>
<body>
    <h1>Image View</h1>

    <div class="container">
        
        <button type="button" id="btn"><a href="#"> Load Image</a></button>
        
    </div>
    
    <table>
        <tr>
            <th>URL</th>
            <th>Change-date</th>
            <th>Width</th>
            <th>Height</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>
</body>
</html>