<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hausübung</title>
</head>
<body>
    <h1>Image View</h1>

    <div class="container">
        <button type="button" class="btn">Load Image</button>
        
    </div>
    
    <table>
        <tr>
            <th class="URL">URL</th>
            <th class="Change-date">Change-date</th>
            <th class="width">Width</th>
            <th class="height">Height</th>
        </tr>
    </table>
</body>
</html>